<section class="products" >
					<article class="product-card" ng-repeat="item in items">
							<div class="product-image">
								<img src={{item.path}} alt="fhoto">
							</div>
							<div class="product-info">
								<h3>{{item.model}}</h3>
								<h4>{{item.name}}</h4>
								<h4>{{item.category}}</h4>
								<h3>{{item.price}}грн</h3>
								<button class="btn btn-success" ng-click="addProduct(item)">Купити</button>
							</div>
						</article>
						
						
</section>
	
		<nav aria-label="..." id="pagination">
				<ul class="pagination">
					<li class="page-item" ng-class="{disabled:objpage.currentPage==1}">
						<a class="page-link" href="#" tabindex="-1" ng-click="setPage(1)">First</a>
					</li>
					<li class="page-item"  ng-class="{disabled:objpage.currentPage==1}">
						<a class="page-link" href="#" tabindex="-1" ng-click="setPage(objpage.currentPage-1)">Previous</a>
					</li>
					<li class="page-item" ng-repeat="item in objpage.pages" ng-class={active:objpage.currentPage==item}><a class="page-link" href="#" ng-click="setPage(item)">{{item}}</a></li>
					<li class="page-item"  ng-class="{disabled:objpage.currentPage==objpage.totalPage}">
						<a class="page-link" href="#" ng-click="setPage(objpage.currentPage+1)">Next</a>
					</li>
					<li class="page-item" ng-class="{disabled:objpage.currentPage==objpage.totalPage}">
						<a class="page-link" href="#" ng-click="setPage(objpage.totalPage)">End</a>
					</li>
				</ul>
			</nav>