<div class="productadmin">
		<form action="#" novalidate name="myForm">
				<h2>Форма для додавання товару в базу даних</h2>
				<div class="form-group row">
					<label for="name" class="col-sm-2 col-form-label">Виробник</label>
					<div class="col-sm-10">
						<input type="text" required class="form-control" name="name1" placeholder="Виробник" ng-model="newProduct.name">
						<span ng-show="myForm.name1.$error.required && myForm.name1.$dirty">Поле не повинне бути пустим</span>
					</div>
				</div>
				<div class="form-group row">
					<label for="model" class="col-sm-2 col-form-label">Модель</label>
					<div class="col-sm-10">
						<input type="text" required   class="form-control" id="model" name="model" placeholder="Модель" ng-model="newProduct.model">
						<span ng-show="myForm.model.$error.required && myForm.model.$dirty">Поле не повинне бути пустим</span>
					</div>
				</div>	
				<div class="form-group row">
						<label for="price" class="col-sm-2 col-form-label">Ціна</label>
						<div class="col-sm-10">
							<input type="text" required  class="form-control" id="price" name="price" placeholder="Ціна грн" ng-model="newProduct.price">
							<span ng-show="myForm.price.$error.required && myForm.price.$dirty">Поле не повинне бути пустим</span>
						</div>
				</div>
				<div class="form-group row">
						<label for="categorys"  class="col-sm-2 col-form-label">Категорія</label>
						<div class="col-sm-10">
								<select class="form-control" id="categorys" name="category" ng-model="newProduct.category" required>
										<option ng-repeat='item in onlycategory'>{{item.name}}</option>
								</select>
								<span ng-show="myForm.category.$error.required && myForm.category.$dirty">Поле не повинне бути пустим</span>
						</div>
						
					</div>
					
					<div class="form-group row">
							<label for="count" class="col-sm-2 col-form-label">Кількість товару</label>
							<div class="col-sm-10">
								<input type="text" required class="form-control" id="count" name="count" placeholder="Кількість товару" ng-model="newProduct.count">
								<span ng-show="myForm.count.$error.required && myForm.count.$dirty">Поле не повинне бути пустим</span>
							</div>
						</div>
					
					
				</form>	
				<div class="card " id="card">
					<div class="card-header row" >
						<label for="file"  class="col-sm-2 col-form-label">Файл зображення</label>
						<form method="post" name="form2" class="col-sm-10 form-file" novalidate enctype="multipart/form-data" action="/uploadfile" target="result">
					 		<div class="input-group">
									<div class="custom-file">
											<input type="file" name="upl" class="custom-file-input" id="inputGroupFile01">
											<label class="btn btn-success" for="inputGroupFile01">Choose file</label>	
									</div>
									<div class="input-group">
											<input type="submit" value="Load file" class="btn btn-success">
									</div>
							</div>
						</form>
					</div>	
					<div class="card-body iframe">
						<input type="text" class="form-control " ng-model="newProduct.path">
					</div>
				</div>	
				<iframe name="result" current-item></iframe>
				<div class="add__button">
					<button type="button" class="btn btn-primary" ng-disabled="myForm.$invalid" ng-click="addProductAdmin()">{{button.add}}</button>	
					<button type="button" class="btn btn-primary" ng-click="cansel()">{{button.cansel}}</button>	
	
				</div>
				
<table class="table table-striped cart__table">
	<tr>
		<td>Назва товару</td>
		<td>Кількість</td>
		<td>Категорія</td>
		<td>Ціна</td>
		<td>Зображення</td>
		<td>Видалити</td>
		<td>Редагувати</td>
	</tr>
	<tr ng-repeat="item in products" class="table-light">
		<td>{{item.name}} {{item.model}}</td>
		<td>
			{{item.count}}
		</td>
		<td>{{item.category}}</td>



		<td>{{item.price}}</td>
		<td>{{item.path}}</td>
		<td><button class="btn" ng-click="removeProduct(item)"><i class="fas fa-trash-alt" ></i></button></td>
		<td><button class="btn" ng-click="editProduct(item)"><i class="fas fa-edit"></i></button></td>
	</tr>
</table>

</div>
		